<% include partials/header.ejs %>


<!--
<div id="main">
      
    <div class="container-up">
        
            <div id="rounds-window"><%=tab.rounds %></div>
            
            <div id="workout-window"><div>WORKOUT</div><div id="workout-seconds"><%=tab.workout %></div></div>  
            <div id="close-app">&times;</div>
    </div>
    <div id="rounds-text">ROUNDS</div>
    
    <div class="container-down">
        <div id="noOfTabatas-window"><%=tab.noOfTabatas %></div>
        <div class="buttons"><span class="hide-btn">STOP</span><span id="go-btn">GO</span><span class="hide-btn">PAUSE</span></div>
    </div>
    <div id="noOfTabatas-text">TABATAS</div>
    </div>
-->
<!--<a href="/workouts/<%= tab.user.id %>" class="btn btn-info " style="margin-left:50px;">Back to profile</a>-->

<div class="container">
    <div class="row" >
            
        <div class="col-lg-2"></div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 pink"><div id="rounds-window"><%=tab.rounds %></div>
                        <div id="rounds-text">ROUNDS</div>
                            </div>
                    <div class="col-lg-8 col-md-4 col-sm-8 pink"><!--<div id="workout-window">WORKOUT
                            <div id="workout-seconds"><%=tab.workout %></div>
                        </div>-->
                        <div id="workout-window"><div>WORKOUT</div><div id="workout-seconds"><%=tab.workout %></div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 pink"><div id="noOfTabatas-window"><%=tab.noOfTabatas %></div>
                        <div id="noOfTabatas-text">TABATAS</div>
                    </div>
                    <div class="col-lg-8 col-md-4 col-sm-8 pink"><div class="buttons"><span class="hide-btn">STOP</span><span id="go-btn">GO</span><span class="hide-btn">PAUSE</span></div> <a href="/workouts/<%= tab.user.id %>" style="font-size:17px;">Back to Workouts</a></div>
                    
                </div>   
            </div>

       <div class="col-lg-2"></div>

    </div>
</div>


    <div id="prep"style="visibility:hidden;"><%= tab.getReady %></div>   
    <div id="rst"style="visibility:hidden;"><%= tab.rest %></div>
    
    <script src="/tabataApp.js"></script>

<% include partials/footer.ejs %>